<div id='mainLogo'>
  <h1>aart</h1>
  <h2 id='alignRight'>accessable art</h2>
</div>
<form action='/search' method='POST' id='searchBox' autocomplete='off'>
  <div id='searchOptions'>
    <input type='search' id='search' name='search' placeholder='Search...' required>
    <button class="icon"><i class="fa fa-search"></i></button>
  </div>
</form>
